
#varioDisplay {

    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

    h1 {
      text-align: center;
      margin-top:20px;
      color: #00f;
    }

    p {
      text-align: center;
    }

    .varioBar {
       height: 45vh;
       border: 1px solid white;
       width: 10vw;

       .green,
       .red {
         width: 100%;
         height: 0;
       }

       .green {
         background-color: #0f0;
         transform: translateY(-100%);
         margin-top: calc(45vh - 1px);
       }

       .red {
         background-color: #f00;
       }
    }

    .varioUp {
      margin-top: 5vw;
    }

}
